{% extends "accounts/base.html" %}
{% block body %}
<div class="container">
   <div class="row">
      <div class="col-md-6" >
       
               <div class="carousel-item active" data-interval="100">
                  <img src={{user.image.url}} class="d-block w-100" alt="Image Not Found">
               </div>
         </div>
      </div>
      <div class="col-md-6">
         <h1>Profile</h1>
         
      </div>

      <div class="row mt-5">
         <h4>First Name   {{user.first_name}}</h4>   
      </div>
      <div class="row mt-5">
         <h4>Last Name     {user.last_name}} </h4> 
      </div>
      <div class="row mt-5">
         <h4>email   {{user.email}}</h4>   
      </div>
      <div class="row mt-5">
         <h4>birth Date    {{user.birthDate}}</h4> 
      </div>
      <div class="row mt-5">
         <h4>city  {{user.city}}</h4> 
      </div>
      <div class="row mt-5">
         <h4>address1   {{user.address1}}</h4>  
      </div>
      <div class="row mt-5">
         <h4>join Date : {{user.j}}</h4>  
      </div>
      
      <div class="row">
         <p>username  : {{user.username}}</p>
      </div>
   </div>
</div>

</div>
{% endblock body %}
