## accounts/templates/accounts/view_profile.html
{% extends "accounts/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

<!-- Username: {{ user }}  -->
<div class="container mt-5 mb-5">
   <div class="row">
      <div class="col-md-6">
         <div class="carousel-item active" data-interval="100">
            <img src={{user.Profile.image.url}} class="d-block w-100" alt="Image Not Found">
         </div>
      </div>
   </div>
   <div class="col-md-6">
      <h1>First name: {{ user.first_name }}</h1>
      <h1>Last name: {{ user.last_name }}</h1>
      <h3>Email: {{ user.email }}</h3>
      <h3>credit Number: {{ user.Profile.creditNumber }}</h3>
      <h3>Phone: {{ user.Profile.phone }}</h3>
      <h1>Address1: {{ user.Profile.address1 }}</h1>
      <h1>Address2: {{ user.Profile.address2 }}</h1>
   </div>
</div>
<hr>

{% endblock body %}
