{% extends "accounts/base.html"  %}
{% load crispy_forms_tags %}
{% load static %}
{% block body %}
<style>
.btn-danger{
    width: 100%;
    margin: 0px;
}

</style>
        
        <h2 class="mb-5 pt-4" style="text-align: center;">Login</h2>
        {% if form.errors %}
        <p  class="mb-5 pt-4">Your username and password didn't match. Please try again.</p>
        {% endif %}

        {% if next %}
        {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
        {% else %}
        <p>Please login to see this page.</p>
        {% endif %}
        {% endif %}

        <form method="post" action="{% url 'login' %}" style="width: 300px;margin: auto;">
            {% csrf_token %}
             {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-danger">Login</button>
        </form>

        {# Assumes you setup the password_reset view in your URLconf #}
        <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
{% endblock body %}
