

{% extends 'accounts/base.html'%}



{% block body %}
{% if userFav %}
<div class="container mb-5 mt-5">

  {% for p in userFav %}
    <div class="pricing card-deck flex-column flex-md-row mb-3">
        <div class="card card-pricing text-center px-3 mb-4"  style="padding: .5rem 0;color: #6c757d;">
            <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-primary text-white shadow-sm">{{p.product.get_name }}</span>
            <div class="bg-transparent card-header pt-4 border-0">
            
            </div>
            <div class="card-body pt-0">
                <ul class="list-unstyled mb-4" style=" padding: .5rem 0;color: #6c757d;">
                    <li>{{ p.product.product_name }} </li>
                    <li><a href="/products/product/{{ p.product.id }}"><Image src= '{{ p.product.image1.url }}' style="width: 50px;height: 50px;"> <Image/></a></li>
                    <li>{{ p.addDate }}</li>
                    <li>Price = {{ p.product.product_price}}</li>
                </ul>
                
              <button type="button" class="btn btn-outline-secondary mb-3">  <a href={{ p.pIdURL}}> Order now </a></button>
              <button type="button" class="btn btn-outline-secondary mb-3">  <a href={{ p.pIdURLmov}} > Move To Cart </a></button>
              <button type="button" class="btn btn-outline-secondary mb-3">  <a href={{ p.pIdURLdel}} > Delete </a></button>
            </div>
        </div>
     </div>
        {% endfor %}
</div>

{% else %}
<div style="text-align: center;font-size: xx-large;color:blueviolet;font-style: italic;font-family: fantasy;">
        Favorites is empty
    </div>
{% endif %}
{% endblock %}