{% extends "accounts/base.html" %}
{% load static %}
{% block body %}
<style>

.rating {
    padding: 0;
    color: #ffa000;
    list-style-type: none;
}
.rating li {
    display: inline-block;
}

</style>


<h2 class="mb-5 pt-4">Home Page</h2>

<div class="container mt-5 ">
    <div class="col">
        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse"
                            data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <span class="btn btn-primary btn-lg active"> Filter &darr;&darr;</span>
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                    data-parent="#accordion">
                    <div class="card-body">
                        <form action="/products/search/" method="GET">

                            <input class="form-control mb-3" name="product_name" type="text"
                                placeholder="Search" aria-label="Search" value="{{product_name}}">

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">category</label>
                                </div>
                                <select name="cat_id" id="cat_id" class="custom-select"
                                    onclick="selectSubCat()">
                                    <option value=""></option>
                                    {% for cat in cat_list %}
                                    <option value="{{cat.id}}">{{cat.cat_name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Sub
                                        Category</label>
                                </div>
                                <select name="sub_cat_id" id="sub_cat_id" class="custom-select"
                                    onclick="selectBrand()">
                                    <option value=""></option>
                                </select>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Brands</label>
                                </div>
                                <select name="brand_id" class="custom-select" id="inputGroupSelect01">
                                    <option value=""></option>
                                    {% for brand in brands_list %}
                                    <option value="{{brand.id}}">{{brand.brand_name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Min Price</span>
                                </div>
                                <input name="min_price" type="text" class="form-control"
                                    aria-label="Amount (to the nearest dollar)">
                                <div class="input-group-append">
                                    <span class="input-group-text">$</span>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Max Price</span>
                                </div>
                                <input name="max_price" type="text" class="form-control"
                                    aria-label="Amount (to the nearest dollar)">
                                <div class="input-group-append">
                                    <span class="input-group-text">$</span>
                                </div>
                            </div>
                            <!-- <div class="form-group">
                            <label for="formControlRange">Min Price</label>
                            <input name="min_price" type="range" class="form-control-range"
                                id="formControlRange">
                        </div> -->
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Order By</label>
                                </div>
                                <select name="order" class="custom-select" id="inputGroupSelect01">
                                    <option value=""></option>
                                    <option value="product_name ASC">Name</option>
                                    <option value="product_price DESC">Higher Price</option>
                                    <option value="product_price ASC">Lower Price</option>
                                    <option value="product_rate DESC">Highest Rate</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary mb-2"><i
                                    class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5 mb-5">
    <div class="row">
        <!--Card-->
        {% if latest_product_list %}
        {% for product in latest_product_list %}
        <!-- <div class="col-md-3 mt-3">
            <div class="card">
                <img src="{{ product.image1.url }}" class="card-img-top" alt="{{ product.product_name }}"
                    style="height:18rem;">
                <div class="card-body">
                    <h5 class="card-title" style="font-weight: bold;"> {{ product.product_name }}</h5>
                    <p class="card-text">${{ product.product_price }}</p>
                    <a href="/products/product/{{ product.id }}" class="btn btn-primary">Details!!</a>
                </div>
            </div>
        </div> -->
        {% endfor %}
        {% else %}
        <p>No products are available.</p>
        {% endif %}
        <!--Card-->

        <!--Card-->
        {% if latest_product_list %}
        {% for product in latest_product_list %}
        <div class="col-md-3 mt-3">
            <div class="card card-cascade card-ecommerce wider">
    
                <!--Card image-->
                <div class="view view-cascade overlay">
                <img class="card-img-top" src="{{ product.image1.url }}"
                    alt="" style="height: 15rem;">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
                </div>
                <!--/.Card image-->
            
                <!--Card content-->
                <div class="card-body card-body-cascade text-center">
                <!--Category & Title-->
                <h5>{{ product.brand.sub_cat.cat }} </h5>
                <h5> {{ product.brand.sub_cat }} </h5>
                <h5> {{ product.brand.brand_name }}</h5>
                <h4 class="card-title"><strong><a href="/products/product/{{ product.id }}">{{ product.product_name }} </a></strong></h4>
            
                <!--Rating-->
                <ul class="rating">
                    {% for i in '01234'|make_list %}

                        {% if forloop.counter <=  product.product_rate %}
                            <li><i class="fas fa-star"></i></li>
                        {% else %}
                        <li><i class="far fa-star"></i></li>

                        {% endif  %}
                    {% endfor %}
                </ul>
            
                <!--Description-->
                <p class="card-text">product --Description-- {{product.product_desc}}
                </p>
            
                <!--Card footer-->
                <div class="card-footer">
                    <span class="float-left">{{ product.product_price }}$</span>
                    <span class="float-right">
                    <a href="/products/product/{{ product.id }}" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="fas fa-shopping-cart mr-3"></i></a>
                    <a href="/products/product/{{ product.id }}" class="active" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><i class="fas fa-heart"></i></a>
                    </span>
                </div>
            
                </div>
                <!--/.Card content-->
            
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p>No products are available.</p>
        {% endif %}
        <!--/.Card-->
        
        <!--Card-->
        {% if latest_product_list %}
        {% for product in latest_product_list %}
        <div class="col-md-3 mt-3">
            <div class="card">
                <img src="{{ product.image1.url }}" class="card-img-top" alt="{{ product.product_name }}"
                    style="height:18rem;">
                <div class="card-body">
                    <h5 class="card-title" style="font-weight: bold;"> {{ product.product_name }}</h5>
                    <p class="card-text">${{ product.product_price }}</p>
                    <a href="/products/product/{{ product.id }}" class="btn btn-primary">Details!!</a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p>No products are available.</p>
        {% endif %}
        <!--Card-->

    </div>
</div>

{% if latest_product_list.has_other_pages %}
<div class="container text-center">
    <div class="row text-center">

        <nav aria-label="Page navigation example" style="margin: 0 auto;">
            <ul class="pagination">

                {% if latest_product_list.has_previous %}
                <li class="page-item"><a class="page-link"
                        href="?page={{ latest_product_list.previous_page_number }}">previous</a></li>
                {% else %}
                <li class="disabled"></li>
                {% endif %}

                {% for page in latest_product_list.paginator.page_range %}
                {% if latest_product_list.number == page %}
                <li class="page-item"><a class="page-link" href="#">{{page}}</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
                {% endif %}
                {% endfor %}

                {% if latest_product_list.has_next %}
                <li class="page-item"><a class="page-link"
                        href="?page={{ latest_product_list.next_page_number }}">Next</a></li>
                {% else %}
                <li class="disabled"></li>
                {% endif %}

            </ul>
        </nav>
    </div>
</div>
{% endif %}

<script>
    function selectSubCat() {
        cat_id = document.getElementById("cat_id").value
        sub_cat_sel = document.getElementsByName("sub_cat_id")[0];
        sub_cat_sel.innerHTML = '<option value=""></option>'
        if (cat_id) {
            data = { 'cat_id': cat_id };
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4) {
                    var sub_categories = JSON.parse(JSON.parse(xhr.response));
                    for (var sub_cat of sub_categories) {
                        var opt = document.createElement('option');
                        opt.appendChild(document.createTextNode(sub_cat['fields']['sub_cat_name']));
                        opt.value = sub_cat['pk'];
                        sub_cat_sel.appendChild(opt);
                    }
                }
            };
            xhr.open('GET', '/ajax/get_sub_cat_details?cat_id=' + cat_id);
            xhr.send();
        }
    }
    function selectBrand() {
        sub_cat_id = document.getElementById("sub_cat_id").value
        brand_sel = document.getElementsByName("brand_id")[0];
        brand_sel.innerHTML = '<option value=""></option>'
        if (sub_cat_id) {
            data = { 'sub_cat_id': sub_cat_id };
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4) {
                    var brands = JSON.parse(JSON.parse(xhr.response));
                    for (var brand of brands) {
                        var opt = document.createElement('option');
                        opt.appendChild(document.createTextNode(brand['fields']['brand_name']));
                        opt.value = brand['pk'];
                        brand_sel.appendChild(opt);
                    }
                }
            };
            xhr.open('GET', '/ajax/get_brand_details?sub_cat_id=' + sub_cat_id);
            xhr.send();
        }
    }
</script>
{% endblock body %}
