{% extends "accounts/base.html" %}
{% load static %}
{% block body %}


    <div class="container mt-5 mb-5">
        <div class="row">
            <!-- <div></div> -->
            {% if latest_product_list %}
            {% for product in latest_product_list %}
            <div class="col-md-3 mt-3">
                <div class="card">
                    <img src="{{ product.image1.url }}" class="card-img-top" alt="{{ product.product_name }}"
                        style="height:18rem;">
                    <div class="card-body">
                        <h5 class="card-title" style="font-weight: bold;"> {{ product.product_name }}</h5>
                        <p class="card-text">${{ product.product_price }}</p>
                        <a href="/products/product/{{ product.id }}" class="btn btn-primary">Details!!</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p>No products are available.</p>
            {% endif %}
        </div>
    </div>

    {% if latest_product_list.has_other_pages %}
    <div class="container text-center">
        <div class="row text-center">

            <nav aria-label="Page navigation example" style="margin: 0 auto;">
                <ul class="pagination">

                    {% if latest_product_list.has_previous %}
                    <li class="page-item"><a class="page-link"
                            href="?page={{ latest_product_list.previous_page_number }}">previous</a></li>
                    {% else %}
                    <li class="disabled"></li>
                    {% endif %}

                    {% for page in latest_product_list.paginator.page_range %}
                    {% if latest_product_list.number == page %}
                    <li class="page-item"><a class="page-link" href="#">{{page}}</a></li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
                    {% endif %}
                    {% endfor %}

                    {% if latest_product_list.has_next %}
                    <li class="page-item"><a class="page-link"
                            href="?page={{ latest_product_list.next_page_number }}">Next</a></li>
                    {% else %}
                    <li class="disabled"></li>
                    {% endif %}

                </ul>
            </nav>
        </div>
    </div>
    {% endif %}


{% endblock body %}
