<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Home Page</title>
</head>
<style>
</style>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Categories
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% if cat_list %}
                        {% for cat in cat_list %}
                        <a class="dropdown-item" href="/products/cat/{{ cat.id }}">{{cat.cat_name}}</a>
                        {% endfor %}
                        {% endif %}
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sub Categories
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% if sub_cat_list %}
                        {% for sub_cat in sub_cat_list %}
                        <a class="dropdown-item" href="/products/sub_cat/{{ sub_cat.id }}">{{sub_cat}}</a>
                        {% endfor %}
                        {% endif %}
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Brands
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% if brands_list %}
                        {% for brand in brands_list %}
                        <a class="dropdown-item" href="/products/brand/{{ brand.id }}">{{brand}}</a>
                        {% endfor %}
                        {% endif %}
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="/products/search/" method="GET">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
                    name="product_name">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <!-- collapse menu -->
    {% if has_collapse_menu %}
    {% if cat_name %}
    {% endif %}
    <div class="container mt-5 ">
        <div class="col">
            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                                aria-expanded="false" aria-controls="collapseThree">
                                {% if cat_name %}
                                <span class="btn btn-primary btn-lg active"> {{ cat_name }} &darr;&darr;</span>

                                {% elif sub_cat %}
                                <a href="/products/cat/{{sub_cat.cat.id}}" class="btn btn-secondary btn-lg active">
                                    {{sub_cat.cat }}</a>

                                <span class="btn btn-primary btn-lg active"> {{ sub_cat }} &darr;&darr;</span>
                                {% else %}
                                <a href="/products/cat/{{brand.sub_cat.cat.id}}"
                                    class="btn btn-secondary btn-lg active"> {{ brand.sub_cat.cat }}</a>

                                <a href="/products/sub_cat/{{brand.sub_cat.id}}"
                                    class="btn btn-secondary btn-lg active"> {{ brand.sub_cat }}</a>

                                <span class="btn btn-primary btn-lg active"> {{ brand }} &darr;&darr;</span>

                                {% endif %}
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                            {% if cat_name %}
                            {% for sub_cat in sub_cats_for_this_cat %}
                            <a href="/products/sub_cat/{{sub_cat.id}}" class="mr-5">{{sub_cat}}</a>
                            {% endfor %}

                            {% else %}

                            {% for brand in brands_for_this_sub_cat %}
                            <a href="/products/brand/{{brand.id}}" class="mr-5">{{brand.brand_name}}</a>
                            {% endfor %}

                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <!-- Search menu -->
    {% if serach_mode %}
    <div class="container mt-5 ">
        <div class="col">
            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                                aria-expanded="false" aria-controls="collapseThree">
                                <span class="btn btn-primary btn-lg active"> Filter &darr;&darr;</span>
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                            <form action="" method="GET">

                                <input class="form-control mb-3" name="product_name" type="text" placeholder="Search"
                                    aria-label="Search" value="{{product_name}}">

                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="inputGroupSelect01">category</label>
                                    </div>
                                    <select name="cat_id" id="cat_id" class="custom-select" 
                                        onclick="selectSubCat()">
                                        <option value=""></option>
                                        {% for cat in cat_list %}
                                        <option value="{{cat.id}}">{{cat.cat_name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="inputGroupSelect01">Sub Category</label>
                                    </div>
                                    <select name="sub_cat_id" id="sub_cat_id" class="custom-select" onclick="selectBrand()">
                                        <option value=""></option>
                                    </select>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="inputGroupSelect01">Brands</label>
                                    </div>
                                    <select name="brand_id" class="custom-select" id="inputGroupSelect01">
                                        <option value=""></option>
                                        {% for brand in brands_list %}
                                        <option value="{{brand.id}}">{{brand.brand_name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Min Price</span>
                                    </div>
                                    <input name="min_price" type="text" class="form-control"
                                        aria-label="Amount (to the nearest dollar)">
                                    <div class="input-group-append">
                                        <span class="input-group-text">$</span>
                                    </div>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Max Price</span>
                                    </div>
                                    <input name="max_price" type="text" class="form-control"
                                        aria-label="Amount (to the nearest dollar)">
                                    <div class="input-group-append">
                                        <span class="input-group-text">$</span>
                                    </div>
                                </div>
                                <!-- <div class="form-group">
                                    <label for="formControlRange">Min Price</label>
                                    <input name="min_price" type="range" class="form-control-range"
                                        id="formControlRange">
                                </div> -->
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="inputGroupSelect01">Order By</label>
                                    </div>
                                    <select name="order" class="custom-select" id="inputGroupSelect01">
                                        <option value=""></option>
                                        <option value="product_name ASC">Name</option>
                                        <option value="product_price DESC">Higher Price</option>
                                        <option value="product_price ASC">Lower Price</option>
                                        <option value="product_rate DESC">Highest Rate</option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-primary mb-2"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <!-- page items -->
    <div class="container mt-5 mb-5">
        <div class="row">
            <!-- <div></div> -->
            {% if search_product_list %}
            {% for product in search_product_list %}
            <div class="col-md-3 mt-3">
                <div class="card">
                    <img src="{{ product.image1.url }}" class="card-img-top" alt="{{ product.product_name }}"
                        style="height:18rem;">
                    <div class="card-body">
                        <h5 class="card-title" style="font-weight: bold;"> {{ product.product_name }}</h5>
                        <p class="card-text">${{ product.product_price }}</p>
                        <a href="/products/product/{{ product.id }}" class="btn btn-primary">Details!</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p>No products are available.</p>
            {% endif %}
        </div>
    </div>


    <!-- pageination  -->
    {% if search_product_list.has_other_pages %}
    <div class="container text-center">
        <div class="row text-center">

            <nav aria-label="Page navigation example" style="margin: 0 auto;">
                <ul class="pagination">

                    {% if search_product_list.has_previous %}
                    <li class="page-item"><a class="page-link"
                            href="?page={{ search_product_list.previous_page_number }}&product_name={{product_name}}">previous</a>
                    </li>
                    {% else %}
                    <li class="disabled"></li>
                    {% endif %}

                    {% for page in search_product_list.paginator.page_range %}
                    {% if search_product_list.number == page %}
                    <li class="page-item"><a class="page-link" href="#">{{page}}</a></li>
                    {% else %}
                    <li class="page-item"><a class="page-link"
                            href="?page={{page}}&product_name={{product_name}}">{{page}}</a></li>
                    {% endif %}
                    {% endfor %}

                    {% if search_product_list.has_next %}
                    <li class="page-item"><a class="page-link"
                            href="?page={{ search_product_list.next_page_number }}&product_name={{product_name}}">Next</a>
                    </li>
                    {% else %}
                    <li class="disabled"></li>
                    {% endif %}

                </ul>
            </nav>
        </div>
    </div>
    {% endif %}


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>


    <script>
        function selectSubCat() {
            cat_id = document.getElementById("cat_id").value
            sub_cat_sel = document.getElementsByName("sub_cat_id")[0];
            sub_cat_sel.innerHTML = '<option value=""></option>'
            if (cat_id) {
                data = { 'cat_id': cat_id };
                var xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === 4) {
                        var sub_categories = JSON.parse(JSON.parse(xhr.response));
                        for (var sub_cat of sub_categories) {
                            var opt = document.createElement('option');
                            opt.appendChild(document.createTextNode(sub_cat['fields']['sub_cat_name']));
                            opt.value = sub_cat['pk'];
                            sub_cat_sel.appendChild(opt);
                        }
                    }
                };
                xhr.open('GET', '/ajax/get_sub_cat_details?cat_id=' + cat_id);
                xhr.send();
            }
        }
        function selectBrand() {
            sub_cat_id = document.getElementById("sub_cat_id").value
            brand_sel = document.getElementsByName("brand_id")[0];
            brand_sel.innerHTML = '<option value=""></option>'
            if (sub_cat_id) {
                data = { 'sub_cat_id': sub_cat_id };
                var xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === 4) {
                        var brands = JSON.parse(JSON.parse(xhr.response));
                        for (var brand of brands) {
                            var opt = document.createElement('option');
                            opt.appendChild(document.createTextNode(brand['fields']['brand_name']));
                            opt.value = brand['pk'];
                            brand_sel.appendChild(opt);
                        }
                    }
                };
                xhr.open('GET', '/ajax/get_brand_details?sub_cat_id=' + sub_cat_id);
                xhr.send();
            }
        }
    </script>
</body>

</html>